<!DOCTYPE HTMl>
<main>
    <div>
      <h1>Signup</h1>
      <form method="post">
        {% csrf_token %}

        <div>
          <label for="id_username">Username:</label>
          <input type="text" name="username" id="id_username" required>
        </div>

        <div>
          <label for="id_password">Password:</label>
          <input type="password" name="password" id="id_password" required>
        </div>

        <div>
          <label for="id_password_confirmation">Password Confirmation:</label>
          <input type="password" name="password_confirmation" id="id_password_confirmation" required>
        </div>

        <button type="submit">Signup</button>
      </form>
    </div>
  </main>
