<!DOCTYPE html>
<html>
<head>
  <title>My Projects</title>
</head>
<body>
  <main>
    <div>
      <h1>My Projects</h1>
      <p>
        <a href="{% url 'projects:create_project' %}">Create a new project</a>
      </p>
      {% if projects %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of tasks</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td>{{ project.name }}</td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>You are not assigned to any projects</p>
      {% endif %}
    </div>
  </main>
</body>
</html>
